body {
   
  background:  #0f172a;
  font-family: 'Inter', sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(16px);
  padding: 40px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #2563eb;
  background: transparent;
  color: white;
  
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  background: linear-gradient(135deg, #2563eb, #1d4ed8);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.alt-link {
  margin-top: 15px;
  font-size: 14px;
}
.alt-link a {
  color: #06b6d4;
  text-decoration: none;
}
